.tangramScrollPanel{

    overflow: hidden;
    width: 312px;
    position: relative;
}
.TSPOverflowY{
    float: left;
    width: 9px;
    margin: 5px 5px 5px 0px;
    height: 460px;
}
.TSPOverflowYInner{
    display: block;
    background-position: 3px 0px;
}
.scrollbar-y {
    background: url(../../Images/scrollbackground.gif) no-repeat 3px center;
}

.mapChoice{
    z-index: 50;
    position: absolute;
    width: 326px;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: 546px;
    overflow: hidden;
    background-color: white;
    border:1px solid gray;
    border-bottom:none;
    border-top:none;
}

.mapChoicePanel{
    width: 327px;
    height: 502px;
    overflow: hidden;
    zoom: 1;
    position: relative;
    float:left;
}


#mapInfo{
    height: auto;
    overflow: hidden;
    width: 318px;
    position: relative;
}

.mapIndexBox{
    margin-bottom: 5px;
}
.mapSpecialBox{
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #FAFCFF;
    border-bottom: 1px solid #dadbde;
}
.mapIndexList{
    list-style: none;
    overflow: hidden;
    zoom: 1;
    margin: 28px auto 20px;
}


.zone_change
{
    position:absolute;
    z-index: 603;
    left:20px;
    top:10px;
}
ul.mapIndexList li {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 14px;
}

.mapListItem{
    width: 44px;
    height: 44px;
    margin: 0 auto;
    border: 0;
    background: url(../../Images/mo_banner.png) no-repeat;
}

ul.mapIndexList .cater {
    background-position: 0 -262px;
}

ul.mapIndexList .city-list-title {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font: 400 12px "Microsoft YaHei","Î¢ÈíÑÅºÚ",sans-serif;
    color: #333;
}

ul.mapIndexList .hotel {
    background-position: 0 -111px;
}

ul.mapIndexList .movie {
    background-position: -47px -111px;
}

ul.mapIndexList .waimai {
    background-position: -139px -111px;
}

.indexCatergoryBox {
    padding: 0 15px;
}

.indexCatergoryTable{
    border: 0;
    width: 100%;
    border-spacing: 0;
}


.indexCatergoryTable td {
    width: 52px;
    height: 56px;
    text-align: left;
    border-bottom: 1px solid #f2f5f8;
    font-family: "Î¢ÈíÑÅºÚ","ËÎÌå",arial;
}
.indexCatergoryTable td.title span {
    margin-left: 27px;
    margin-top: -5px;
    font-size: 13px;
    cursor: pointer;
}

.indexCatergoryTable tr.traffic td.title {
    color: #a2c159;
    background: url(../../Images/traffic_bg_new_850c964.png) no-repeat 7px center;
}

.indexCatergoryTable {
    border: 0;
    width: 100%;
    border-spacing: 0;
}

.indexCatergoryBox tr td.title {
    width: 88px;
    text-align: center;
}
.indexCatergoryTable td i.separate {
    color: #EFF2F6;
    float: right;
    font-style: normal;
    margin-right: 10px;
}

.indexCatergoryTable td a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}


.indexCatergoryBox tr.fun td.title {
    color: #ea8887;
    background: url(../../Images/fun_bg_new_7d0e12f.png) no-repeat 7px center;
}

.indexCatergoryBox tr.life td.title {
    color: #a3a9c7;
    background: url(../../Images/life_bg_new_d64fa12.png) no-repeat 7px center;
}

#shad div {
    position: absolute;
}

.mapinfo_but {
    position: absolute;
    z-index: 200;
    left: 326px;
    width: 17px;
    height: 64px;
    overflow: hidden;
    background-color: white;
}

.mapinfo_but_con {
    width: 16px;
    height: 62px;
    line-height: 62px;
    cursor: pointer;
    border: 1px solid #a0a1a3;
    border-left: 0;

}

.mapinfo_but_span {
    background-position: -109px -167px;
}

.mapinfo_but_span {
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: 3px;
    margin-top:26px;
    overflow: hidden;
    background-repeat: no-repeat;
}

 .mapinfo_but_span, .mapinfo_but_close_on .mapinfo_but_span, .mapinfo_but_open .mapinfo_but_span, .mapinfo_but_open_on .mapinfo_but_span {
    background-image: url(../../Images/index_z_42ef450.png);
}