
#MapHolder{
    background: #F3F3F3;
    right: 0;
    position: relative;
    z-index: 0;
    margin-left: 381px;
    border-left: #a0a1a3 1px solid;
}



.ui3-city-change-inner {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    border: 1px solid #c4c7cc;
    background-color: #fff;
    padding: 0 23px 0 10px;
    color: #666;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
}

.ui3-city-change-inner i {
    width: 8px;
    height: 6px;
    display: inline-block;
    position: absolute;
    bottom: 9px;
    right: 10px;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
    display: none\9;
}

.ui3-city-change-inner em {
    position: absolute;
    width: 0;
    height: 0;
    top: 1px;
    left: 0;
    border-color: rgba(255,255,255,0);
    border-top-color: #D0D4DA;
    border-style: solid;
    border-width: 4px;
}
.ui3-city-change-inner:hover em {
    border-top-color: #0C88E8;
}

.ui3-control-wrap .left {
    margin-right: 4px;
}

.ui3-control-wrap .left, .ui3-control-wrap .right {
    border: 1px solid #c4c7cc;
    background: #fff;
}


.ui3-control-wrap .left, .ui3-control-wrap .right {
    border: 1px solid #c4c7cc;
    background: #fff;
}

.ui3-control-wrap .left span p, .ui3-control-wrap .right span p {
    height: 26px;
    cursor: pointer;
}

.ui3-control-wrap .left span, .ui3-control-wrap .right span {
    float: left;
    height: 26px;
    width: 26px;
    border-right: 1px solid #ecedef;
    background-image: url(../images/tools_47a3ea9.png);
    background-repeat: no-repeat;
}

.ui3-control-wrap .search-in-view {
    background-position: -49px -332px;
}
.ui3-control-wrap .traffic {
    background-position: -75px -332px;
}
.ui3-control-wrap .last {
    border: 0!important;
}

.ui3-control-wrap .share {
    background-position: -106px -332px;
}

.ui3-control-wrap .measure {
    background-position: -134px -332px;
}

.ui3-control-wrap .screen-shot {
    background-position: -163px -332px;
}

.ui3-control-wrap .mark {
    background-position: -186px -332px;
}

.ui3-control-wrap .print {
    background-position: -212px -332px;
}
.ui3-control-wrap .fullscreen {
    background-position: -239px -332px;
}

.ui3-street-view {
    display: inline-block;
    width: 45px;
    padding: 1px;
    text-decoration: none;
    border: 1px solid #9B9EA4;
    background-color: #fff;
}
.ui3-street-view-top {
    height: 26px;
    background-image: url(../images/tools_47a3ea9.png);
    background-position: 0 -327px;
}

.ui3-street-view-bottom {
    color: #666;
    text-align: center;
    height: 16px;
    line-height: 16px;
    _line-height: 18px;
}