/************index.aspx  singlelist announce*************/

.detail {
	margin-top: 20px;
	background-image: url(../Images/block_background.png);
}
.detail ul {
	list-style-type: none;
}
.detail ul li {
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

.homeTitle {
	height: 30px;
	font-size: 17px;
	font-weight: bold;
	color: #008D7C;
	width: 60%;
}
.enTitle {
	height: 30px;
	font-size: 14px;
	color: #008D7C;
	width: 100%;
}

.item {
	height: 40px;
	font-size: 17px;
	font-weight: bold;
	line-height: 40px;
	text-align: left;
}

.listContent {
	background-color: #F8F8F8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.listContent ul {
	list-style-type: none;
    height:560px;
}
.listContent ul li {
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}

.longline {
	background-color: #008D7C;
	width: 100%;
	height: 2px;
	margin-top: 2px;
}
.shortline {
	background-color: #008D7C;
	width: 95%;
	height: 2px;
	margin-top: 2px;
}

.dow {
	float: right;
	margin-right: 20px;
	height: 30px;
	text-align: left;
}
.textcontent {
	width: 800px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: justify;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.textcontent p {
	text-indent: 3em;
}
.textcontent p img {
	max-width: 90%;
	max-height: 350px;
	margin: 0 auto;
	display: block;
}

.annDetail {
	background-color: #F4FFEC;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	margin-top: 30px;
	min-height: 700px;
    padding:30px 0px;
}
.ptitle
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width:100%;
}
        .ptitle + p
        {
            font-size: 15px;
            text-align: center;
            margin-top:20px;
        }

.examTop
{
    height:65px;
    line-height:60px;
}
    .examTop img
    {
        vertical-align:middle;
    }
    .examTop span
    {       
         font-size:19px;
         font-weight:bold;
         line-height:60px;
         margin-left:20px;
    }
    .examTop a
    {
        float:right;
        line-height:60px;
        font-size:15px;
        color:#0000DD;
    }
.examTable
{
    margin-top: 20px;
    height: 680px;
}
.examTable table
{
    width:100%;
    text-align:center;

}
    .examTable table td, .examTable table th
    {
        height:30px;
    }
.examTable table td:first-child,.examTable table th:first-child
{
    text-align:left;
}
/**********************************************sysManage.aspx**************************************************************/
.manageLeft
{
    width:20%;
    margin-top: 30px;
    float:left;
}
    .manageLeft ul
    {
        list-style: none;
    }

        .manageLeft ul li
        {            
            text-align: left;
            line-height: 30px;
            color: #008D7C;
	        font-weight:bold;
	        font-size:17px;
            margin:6px 0;
        }
            .manageLeft ul li a
            {
                display: block;
                width:90%;
                background-color: #eff8ff;
                height: 40px;
                line-height: 40px;
                font-weight:normal;
                text-align:center;
                font-size:15px;
	            cursor:pointer;
                margin: 4px 0;
            }

.manageRight {
	width:80%;
	height:540px;
    float:left;
    margin-top: 30px;
    padding:0px 0px;
}

    .manageRight>p
    {
        text-align:center;
        font-size: 17px;
	    color: black;
	    font-weight: bold;
    }

.manageRight ul {
	list-style:none;
    width:800px;
    height:420px;
    float:left;
    margin-top:20px;
}
.manageRight ul li {
	height:30px;
}
.manageRight ul li a {
	text-decoration:none;
}
.addUser
{
    width:400px;
    margin:50px auto;
    display:none;
}
    .addUser span
    {
        display:block;

    }
    .addUser input
    {
        display: block;
        height: 30px;
        line-height: 30px;
        width: 250px;
        margin: 10px 0;
        font-size: 17px;

    }
    .addUser select
    {
        display:block;
        width: 250px;
        height: 30px;

    }
.manageSelect
{
    width:160px;
    height:27px;
}
.manageTimer
{
    width:140px;
    height:25px;
    margin-left:20px;
}

.manageBtn {
	width:100px;
	height:27px;
    float:right;
}

.manageInput {
	width:160px;
	height:25px;
	border:1px solid #808080;
}

/*GridViewCSS*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size: 14px;
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid #1d1d1d;
    width: 100%;
    height: 422px;
}
/*Header and Pager styles*/
.HeaderStyle
{
    height: 30px;
}
.PagerStyle
{
}
.HeaderStyle th {
	padding: 0px;
	color: #000;
}
.HeaderStyle a:link
{
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: left;
    font-weight: normal;
    border-left: 1px solid #666666;
    border-right: 1px solid #1d1d1d;
    padding-top: 25px;
    padding-bottom: 9px;
    padding-right: 5px;
    padding-left: 5px;
}
.HeaderStyle a:hover
{
}
.PagerStyle table {
	text-align:center;
	margin:auto;
	width:100%;
}
.PagerStyle table td {
	border:0px;
	padding:5px;
	/*padding around pager numbers*/
	
}
.PagerStyle td
{
    border-top: 1px solid #1d1d1d;
    /*top border of pager*/
    height: 40px;
}
.PagerStyle a {
	color:#000;
	text-decoration:none;
	padding:2px 10px 2px 10px;
	/*border around pager numbers*/
	border-top: 1px solid #777777;
	border-right: 1px solid #333333;
	border-bottom:1px solid #333333;
	border-left: 1px solid #777777;
}
.PagerStyle span {
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 10px 2px 10px;
}

.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td
{
    border-right: solid 1px #1d1d1d;
    height: 34px;
}
.RowStyle td {
	background-color: #fff;
	color: #000;
	height:34px;
}
.AltRowStyle td {
	background-color: #00ffDD;
	color:#000;
	height:34px;
}
.SelectedRowStyle td {
	background-color: #ffff66;
}
.DetailsViewRigCss {
	height:400px;
}
.HeaderStyle {
	font-size:15px;
	font-weight:bold;
	text-align:center;
	width:388px;
	; }
.ControlStyle {
	float:right;
	margin-left:20px;
}


.upanddelf ul {
	list-style:none;
}
.upanddelf ul li {
	height:30px;
}
.upanddelf ul li a {
	text-decoration:none;
}
.hideFileupload {
	visibility:hidden;
}

.pages {
	color: #999;
	overflow: auto;
	margin-top:20px;
    display:inline-block;
}

.pages a, .pages .cpb {
	text-decoration: none;
	float: left;
	padding: 0 5px;
	border: 1px solid #ddd;
	background-color: #fff0f0;
	margin: 0 2px;
	font-size: 13px;
}
.pages a:hover {
	background-color: #E61636;
	color: #fff;
	border: 1px solid #E61636;
	text-decoration: none;
}
.pages .cpb {
	font-weight: bold;
	color: #fff;
	background: #E61636;
	border: 1px solid #E61636;
}


.manageBotInput
{
    height:25px;
    border:none;
	border-bottom:1px solid #000;
    font-size:15px;
}

.linkBtn {
	border:none;
	background-color:White;
	height:18px;
	width:32px;
	color:#666666;
	font-size:14px;
    cursor:pointer;
}
/**************************************************************Investigator.aspx**********************************************************/
.communityList
{
    width:20%;
    float:left;
    margin-top:20px;
}
.communityList ul {
	width: 100%;
	text-align: center;
    list-style:none;
    font-size: 15px;
}
.communityList ul li {
	height: 30px;
	line-height: 30px;
	background-color: #88FFFF;
	background:linear-gradient(rgba(248, 248, 248, 107) 0px, rgba(248, 248, 248, 107) 100%) repeat;
	background:-moz-linear-gradient(rgba(248, 248, 248, 107) 0px, rgba(248, 248, 248, 107) 100%) repeat;
	background:-webkit-linear-gradient(rgba(248, 248, 248, 107) 0px, rgba(248, 248, 248, 107) 100%) repeat;
	background:-o-linear-gradient(rgba(248, 248, 248, 107) 0px, rgba(248, 248, 248, 107) 100%) repeat;
}
.communityList ul li:first-child {
	padding: 10px 6px;
    background: #008D7C;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    height: 25px;
    line-height: 25px;
}
.communityList ul  li a {
	position: relative;
	width:180px;
	height:30px;
	display:block;
    cursor:pointer;
}
i {
	display: inline-block;
	visibility: hidden;
	width: 13px;
	height: 13px;
	top: 8px;
	right: 0;
	background: url("../Images/xbg.png") no-repeat;
}

.communityContent
{
    width:80%;
    float:left;
    margin-top:20px;
}
.opreateMoudle
{
  padding-left:20px;
  margin-bottom:20px;

}
    .opreateMoudle>p:first-child
    {
        width:100%;
        text-align:left;
        line-height: 25px;
        float:left;
        font-size:15px;
        font-weight:bold;
        color:#008D7C;
    }
    .opreateMoudle p
    {
        float:left;
        line-height: 25px;
    }
    .opreateMoudle .laydate-icon
    {
        width:20%;
        float:left;
    }
   
/****************************************ShowExcel.aspx**************************************************************/

.officeTitle {
	font-size:20px;
	text-align:center;
	line-height:50px;
	color:#008D7C;
}
.officeContainer {
	width:100%;
	height:800px;
	overflow:hidden;
	margin-top:20px;
}
.officeAlert {
	width:900px;
	height:800px;
	margin-left:100px;
}
/*************************************LeaderIndex.aspx;****************************************/
.searchSection {
	height:30px;
	box-shadow: 0 0 1px 1px #008D7C;
	border:1px solid  #008D7C;
	-webkit-box-shadow:0 0 1px 1px #008D7C;
	-moz-box-shadow:0 0 1px 1px #008D7C;
	margin-top:20px;
	margin-left:10px;
    float:left;
}
.locBtn {
	margin-left:10px;
	margin-top:20px;
}
.sValue {
	height:30px;
	border:none;
	width:150px;
}
.vagueInput {
	height:30px;
	width:250px;
	border:1px solid #808080;
	margin-left:70px;
	border-radius:4px;
}
.selectLocation {
	width:180px;
	border-right:1px solid #008D7C;
	float:left;
	margin-left:2px;
}
.selectBtn {
	width:20px;
	height:20px;
	background-image:url(../Images/location.png);
	background-color:White;
	border:none;
	margin-top:5px;
}
.infor {
	position:absolute;
	background-color:White;
	z-index:999;
	width: 640px;
	float: left;
	margin-left:10px;
	margin-top:59px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom:1;
}
.drop {
	display: none;
	border: 2px solid #008D7C;
}
.location {
	width:105px;
	float: left;
	text-align:center;
	margin:5px 0px;
	cursor:pointer;
    display:block;
}

.triangle {
	position:absolute;
	width:0px;
	height:0px;
	border-right:8px solid transparent;
	border-left:8px solid transparent;
	border-bottom:8px solid #008D7C;
	margin-top:52px;
	display:none;
	float:left;
}
.searchResult {
	position:absolute;
	background-color:#fff;
	z-index:999;
	width: 250px;
	float: left;
	margin-left:70px;
	margin-top:10px;
	border:1px solid #808080;
	display:none;
}
.searchResult ul li {
	list-style:none;
	width:100%;
	height:20px;
}


table.forechart {
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	border:1px solid #008000;
    margin-top:-30px;
    margin-left:20px;
}
table.forechart td {
	width:170px;
	height:20px;
	border:1px solid #008000;
	text-align:center;
}
table.forechart td span{
	font-size:13px;
}
table.td70
{
    margin-top:-50px;
}
table.td70 td
{
    width:68px;
	height:20px;
	border:1px solid #008000;
	text-align:center;
}
table.tabletotal {
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	font-size:15px;
	border-collapse:collapse;
	border-bottom:2px solid #008000;
	border-top:2px solid #008000;
	margin-top:20px;
}
table.tabletotal td {
	border:1px solid #808080;
	background-color: #ffffff;
	padding:8px;
	height:38px;
	text-align:center;
}

table.tabletotal td.tttd1 {
	border-left:none;
	width:198px;
}
table.tabletotal td.tttd2 {
	width:84px;
}
table.tabletotal td.tttd3 {
	border-right:2px solid #008000;
	width:46px;
}
table.tabletotal td.tttd4 {
	width:198px;
}
table.tabletotal td.tttd5 {
	width:110px;
}
table.tabletotal td.tttd6 {
	border-right:2px solid #008000;
	width:118px;
}
table.tabletotal td.tttd7 {
	width:117px;
}
table.tabletotal td.tttd8 {
	width:143px;
	border-right:none;
}

.ldTitle {
	width:100%;
}

.ldTitleImg
{
    height:200px;
    background-image:url(../Images/LeaderIndexImg/map.png);
	background-position:center;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size:contain;
	background-repeat:no-repeat;
}
.ldTitle p:first-child
{
    font-size: 29px; 
    text-align: center; 
    color: #008D7C; 
    line-height: 140px;
}
    .ldTitle p:first-child + p
    {
        font-size: 17px; 
        text-align: right; 
        color: #000; 
        line-height: 17px;
    }


.dataTitle
{
    /*background-image:linear-gradient(left, #008D7C,  #FFFFFF);  
    background-image:-webkit-linear-gradient(left, #008D7C,  #FFFFFF);  
    background-image:-moz-linear-gradient(left, #008D7C,  #FFFFFF);  
    background-image:-o-linear-gradient(left, #008D7C,  #FFFFFF); */
    background-color:#008D7c;
    color:#FFFFFF;
    width:100%;
    height:60px;
    box-shadow:#CCC 5px 0px 5px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.dataTitle p
{
    line-height:60px;
    font-size:20px;
    margin-left:20px;
    
}
.dataContent
{
    width:100%;
    border-right:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;   
    -webkit-box-shadow:#CCC 5px 0px 5px;
    -moz-box-shadow:#CCC 5px 0px 5px;
    -o-box-shadow:#CCC 5px 0px 5px;
    box-shadow:#CCC 5px 0px 5px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-bottom-right-radius:15px;
    -o-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;
    
}
.child500 > div
{
    height:500px;
}

.dataContentLeft
{
    width:20%;
    float:left;
    height:400px;
    background-color:#EEEEEE;
    border-bottom-left-radius:15px;
    
}
    .dataContentLeft a
    {
        display:block;
        line-height:80px;
        text-align:center;
        font-size:19px;
        cursor:pointer;
        border-bottom:1px solid #fff;
        border-top:1px solid #fff;
    }
        .dataContentLeft a:hover
        {
             background-color:#008d7c;
             color:#fff; 
             text-decoration:none;
        }
    .dataContentLeft a:first-child
    {
        margin-top:40px;
    }
.dataOn
{
    background-color:#008d7c;
    color:#fff;
}
.dataContentRight
{
    width:80%;
    float:left;
    height:400px; 
    overflow:hidden;
    position:relative;
   
}
.subDataContentRight
{
    width:100%;
    height:1600px; 
    overflow:hidden;
    position:absolute;
    background-color:#fff;
}
.normalSpan span
{
    color:#000;
	font-size:17px;
}
.subDataContent
{
    width:100%;
	height:400px;
	float:left;

}
.ContentTitle
{
    width:90%;
    margin:0 auto;
    height:16%;
    text-align:center;
    margin-top:2%;
    background-color:#F8F8F8;
    border:1px solid #DDE1E0;
}
    .ContentTitle p
    {
        font-size:26px;
        line-height:65px;
        vertical-align:bottom;
    }
        .ContentTitle p img
        {
            vertical-align:middle;
        }
.contentMain
{
    width:90%;
    margin:auto;
    height:76%;
    border:1px solid #DDE1E0;
    
}
.contentMain a
{
    color:#42A0FE;
    text-decoration:underline;
}
.data{
	width:40%;
	margin:auto auto;
	text-align:center;
    float:left;
    font-size:15px;
}
.data span {
	color:#448AFF;
	font-size:18px;
}
.data p
{
    line-height:70px;
    text-align:left;
    margin-left:20px;
}

.data p:first-child
{
    
    margin-top:20px;
}
.p50 p
{
    line-height:50px;
}
.p35 p
{
    line-height:35px;
}
.p90 p
{
    line-height:90px;
}
.echarts
{
    width:60%;
	height:100%;
    float:left;
}
    .echarts p
    {
        width:100%;
        line-height:40px;
        font-size:15px;
        text-align:center;
    }
.echart_yuan {
	width:100%;
	height:100%;
    margin:0 auto;
}

/*****************************************************Community.aspx********************************************************************************/

.comEchart {
	width:48%;
	margin-top:40px;
	margin-left:-30px;
    float:left;
}
.comEchart p {
	font-size:14px;
	text-align:center;
	margin-top:15px;
}
table.comEchartTable {
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	border:1px solid #008000;
    margin-top:-30px;
    margin-left:20px;
}
table.comEchartTable td {
	width:210px;
	height:20px;
	border:1px solid #008000;
	text-align:center;
}
table.comEchartTable td span{
	font-size:13px;
}

table.td100 td
{
    width:84px;
}
.comEchartMid {
	height:350px;
	width:1px;
	margin-left:50px;
	margin-top:60px;
	background-color:#808080;
    float:left;
}

.hideBtn
{
    font-family: Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
    font-size: 14px;
    width:112px;
    height:34px;
    background-color:transparent;
    border:none;
}


.comHeaderTop {
	width:100%;
	height:30px;
    border-bottom:2px double #000;
}
.comHeaderTop p {
	font-size:17px;
	color:#000;
}

.comHeaderMid {
	width:100%;
	height:120px;
    line-height:120px;
    text-align:center;
}

.comHeaderMid p {
	font-size:43px;
	color:#008D7C;
	font-weight:bold;
}
.comNav {
	width:100%;
    list-style:none;
    height:37px;
}
    .comNav li
    {
        width: 110px;
        text-align: center;
        background-color: #008D7C;
        border-right: 1px solid #000;
        height: 35px;
        float: left;
        line-height: 35px;
        color:#fff;
        cursor:pointer;
    }    
        .comNav li input
        {
            color:#fff;
        }
        .comNav li input:hover
        {
            color:#000;
        }
       
        .comNav li:hover
        {
            background-color: #EEEEEE;
            color:#000;
        }

.comLiOn
{    
  background-color: #EEEEEE !important;      
  color:#000 !important;
}
.comLiOn input
{
    color:#000 !important;
}
.comLiOn a
{
    color:#000 !important;
}
.comBase {
	width:50%;
    float:left;
}
.comBase > div
{
    width:50%;
    height:300px;
}
    .comBase > div img
    {
        width: 100%;
        height: 100%;
    }

    .comBase > table{
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	font-size:13px;
	border-collapse:collapse;
    border-top: 2px solid #008000;
    border-bottom: 2px solid #008000;
}
.comBase td {
	border:1px solid #808080;
	background-color:#fff;
	height:37px;
	text-align:center;
}
.comBase td.td1 {
	width:169px;
	border-left:none;
}
.comBase td.td2 {
	width:218px;
}
.comBase td.td3 {
	width:135px;
	border-right:none;
}
.comInfo
{
    width: 480px; 
    height: 300px;
}
.comInfoTitle
{
    width:480px;
    height:40px;
    background-color:#E0E0E0;
   
}

    .comInfoTitle div
    {
        width:49.5%;
        height:40px;
        float:left;
        background-color:#87ceFA;
        border:1px solid #87ceFA;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        box-sizing:content-box;
        border-bottom:none;
        text-align:center;
        cursor:pointer;
    }
        .comInfoTitle div span
        {
            line-height:40px;
        }
.comInfoContent
{
    width:480px;
    height:260px;
    overflow:auto;
    border:1px solid #87ceFA;
    box-sizing:border-box;
    border-top:none;
    padding:20px 20px;
}


.showDiv
{ 
    width: 480px; 
    height: 300px;  
}
.showDivTitle
{
    width:480px;
    height:40px;
    background-color:#00dddd;
}
.showDivBg
{
    margin:auto;
    width: 480px; 
    height: 340px;
    position:fixed;
    border:1px solid #00DDDD;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-color:#fff;
}



.tableBtn {
	border:none;
	background-color:#fff;
	font-size:15px;
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	height:20px;
	vertical-align:middle;
	margin-left:8px;
	text-decoration:underline;
	color:Blue;
}
.tableimg {
	width:20px;
	height:20px;
	vertical-align:middle;
}


table.count {
	width:100%;
	border-collapse:collapse;
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	font-size:13px;
    border-bottom: 2px solid #008000; 
    border-top: 2px solid #008000;
}
table.count td {
	height:37px;
	border:1px solid #808080;
	text-align:center;
	background-color:White;
	width:120px;
}

table.footTable {
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	border-collapse:collapse;
	font-size:15px;
    border-bottom: 2px solid #008000; 
    border-top: 2px solid #008000;
}
table.footTable td {
	text-align:center;
	border:1px solid #808080;
	height:37px;
	background-color:#fff;
}
table.footTable td.td1 {
	width:170px;
	border-left:none;
}
table.footTable td.td2 {
	width:170px;
}
table.footTable td.td3 {
	width:255px;
}
table.footTable td.td4 {
	width:170px;
}
table.footTable td.td5 {
	width:255px;
	border-right:none;
}



.dataTable {
	text-align: center;
	vertical-align: middle;
	margin-top: 20px;
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#000;
}

    .dataTable p
    {
        height:60px;
        font-size:20px;
        line-height:60px;
        text-align:left;
        color:#008D7C;
        font-weight:bold;
    }
.tableCotent
{
    height: 100px;
    font-size: 23px;
    line-height: 100px;
    color:#000 !important;
}
table.comData {
	border-collapse:collapse;
	width:1000px;	
	border-top:2px solid #008000;
	border-bottom:2px solid #008000;
	font-size:13px;
}
table.comData td {
	height:45px;
	border:1px solid #808080;
}
table.comData td a{
	color:#42A0FE;
	text-decoration:underline;
}

.td3 td
{
    width:333px;
}
.td5 td
{
    width:200px;
}
.td6 td
{
    width:166px;
}
.td7 td
{
    width:142px;
}
.td8 td
{
    width:125px;
}

.td9 td
{
    width:110px;
}
.td10 td
{
    width:100px;
}
.td11 td
{
    width:90px;
}
.td13 td
{
    width:76px;
}
.td14 td
{
    width:71px;
}
.td15 td
{
    width:66px;
}
.td17 td
{
    width:58px;
}
.firstDoubleTd
{
    background-color:#98FB98 !important;
    }
.impIndex td
{
    background-color:#87ceFA;
}
.impIndex td:first-child
{
    background-color:#eff3ed;
}

.alternateDouble td:nth-of-type(2n)
{
    background-color:#e1ffff;
}
.alternateDouble td:first-child
{
    background-color:#eff3ed;
}

.alternateSingle
{
    font-size:13px;
}
.alternateSingle td:nth-of-type(2n+1)
{
    background-color:#e1ffff;
}

.tabletitle {
	font-weight:bold;
}
.indicatorTime
{
    margin-top:20px;
}
    .indicatorTime span
    {
        float: left;
        font-size: 15px;
        margin-left: 100px;
        display:inline-block;
    }
    .indicatorTime div,.indicatorTime input
    {
        width: 170px; 
        font-size: 14px;
        margin-left: 26px;
    }
.selectindicator {
	width:100%;
	height:200px;
	margin-top:20px;
	float:left;
}
.incaterTab {
	border-bottom: 1px solid #E8E8E8;
	height: 50px;
	line-height:50px;
	text-align:center;
}
.incaterTab a {
	margin:0 10px;
}
.incaterTab a.on {
	border-bottom:2px solid #42A0FE;
	font-weight:700;
}
.indicatorNav {
	width:100%;
}
.navArea {
	overflow:hidden;
	text-align:center;
	margin:0 auto;
}
.navArea a {
	position:relative;
	width:130px;
	margin-left:10px;
	float:left;
	text-align:center;
	text-decoration:none;
	color:black;
	display:inline-block;
	border:2px solid rgba(248, 248, 248, 0.7);
	margin:0 0 12px 10px;
	background:#f8f8f8;
	background:linear-gradient(rgba(248, 248, 248, 0.7) 0px, rgba(248, 248, 248, 0.7) 100%) repeat;
	background:-moz-linear-gradient(rgba(248, 248, 248, 0.7) 0px, rgba(248, 248, 248, 0.7) 100%) repeat;
	background:-webkit-linear-gradient(rgba(248, 248, 248, 0.7) 0px, rgba(248, 248, 248, 0.7) 100%) repeat;
	background:-o-linear-gradient(rgba(248, 248, 248, 0.7) 0px, rgba(248, 248, 248, 0.7) 100%) repeat;
}
.navArea a span {
	display: inline-block;
	margin:2px 4px;
	color:black;
	font-size: 11px;
}
.navArea a:hover i {
	background-position: -13px 0;
}
.navArea ul .secondTree {
	width:148px;
	font-size:14px;
	height:28px;
	margin:4px 4px;
}
.navArea ul .specialTree {
	width:125px;
	font-size:14px;
	height:38px;
	margin:4px 6px;
}
.navArea ul li {
	list-style: none;
}
.navArea ul .secondTree span {
	margin:4px 4px;
}
i {
	position: absolute;
	visibility: hidden;
	display: inline-block;
	background-position:-13px 0;
	font-size: 1px;
	height: 13px;
	width: 13px;
	right: 0;
	top: 8px;
	background: url(../Images/xbg.png) no-repeat;
}
.navArea .thirdTree {
	margin:4px 0 4px 0 ;
	margin-left:15px;
}
.navArea a:hover {
	border:2px solid #42A0FE;
}

.choiceSize {
	height: 150px;
	width:146px;
	margin:0px 5px;
}
.echartBtn {
	width:80px;
	display:block;
	margin:0 auto;
}

#main
{
    height: 500px;
    padding: 20px 10px;
}
/***********************************************EditAnnounce.aspx***********************************************************************************/
.editAnno {
	width:800px;
	margin:0 auto;
	text-align:center;
}
    .editAnno>p
    {
        text-align: center;
        font-size: 17px;
        color: black;
        font-weight: bold;
    }
/***********************************************InvestigatorManage.aspx*********************************************************************************/
	.managesection {
	width:100%;
	float:left;
	margin-top:10px;
}
.selectinv {
	margin-top:10px;
	float:left;
	width:100%;
}
.opreatetitle {
	width:100%;
	height:50px;
}
.opreatetitle span {
	font-size:16px;
	color:#008D7C;
	font-weight:bold;
	line-height:50px;
}
.allocate_title {
	border-bottom:1px solid #E8E8E8;
	height:44px;
	line-height:44px;
	text-align:left;
}
.allocate_title a {
	margin:0 10px;
}
.allocate_title a.on {
	border-bottom:2px solid #42A0FE;
	font-weight:700;
}

